html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body, #root {
  height: 100vh;
  margin: 0;
}

body, input, select, textarea {
  font-size: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid-container{
  display: grid;
  grid-template-areas: 
  "header" 
  "main" 
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

a:hover{
  color: #ffffff;
}

header {
  grid-area: header;
  background-color: #ef7998;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
header a {
  color: #ffffff;
  text-decoration: none;
}
main {
  grid-area: main;
}
footer{
  grid-area: footer;
  background-color: #ef7998;
  color: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
}